

<div class="row" id="whiterow">
<div class="jumbotron">
  <h1><i class="icon-lightbulb"></i>&nbsp;Lantern Room View</h1>
  <p class="lead">Never get left in the dark on your events.</p>
  <p class="dividerblue">_____________<p>
<br>
 <table class="table table-hover">
        <thead>
          <tr><form>
  <div class="input-prepend">
    <span class="add-on"><i class="icon-search"></i></span>
    <input class="span4" type="text" placeholder="Search for event name or representative  name">
  </div><br>
            <th class="hidden-phone">#</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Progress and Status</th>
            <th class="hidden-phone">Representative</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="hidden-phone">1</td>
            <td><%= link_to "Salix Pharmaceuticals, Inc.", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td><%= link_to "Conference Call", "http://localhost:3000/Progress_Status" %>
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 10%"></div>
				</div>
            </td>
            <td class="hidden-phone"><%= link_to "Devon Walters", "http://localhost:3000/rep_view" %></td>
          </tr>
          <tr>
            <td class="hidden-phone">2</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 70%"></div>
				</div>
            </td>
            <td class="hidden-phone">Column content</td>
          </tr>
          <tr>
            <td class="hidden-phone">3</td>
            <td>Steel, LLC</td>
            <td>2/11/13</td>
            <td>Submitted
            	<div class="progress progress-striped active">
			 		<div class="progress-bar" style="width: 10%"></div>
				</div>
			</td>
			<td class="hidden-phone">Column content</td>
          </tr>
          <tr>
            <td class="hidden-phone">4</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 70%"></div>
        </div>
            </td>
            <td class="hidden-phone">Column content</td>
          </tr>
          <tr>
            <td class="hidden-phone">5</td>
            <td><%= link_to "Advanced Liquid Logic", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td><%= link_to "Conference Call", "" %>
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
            </td>
            <td class="hidden-phone">Devon Walters</td>
          </tr>
          <tr>
            <td class="hidden-phone">6</td>
            <td>The Body Shop</td>
            <td>9/22/13</td>
            <td>Batched
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 70%"></div>
        </div>
            </td>
            <td class="hidden-phone">Column content</td>
          </tr>
          <tr>
            <td class="hidden-phone">7</td>
            <td><%= link_to "Advanced Liquid Logic", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td><%= link_to "Conference Call", "" %>
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
            </td>
            <td class="hidden-phone">Devon Walters</td>
          </tr>
          <tr>
            <td class="hidden-phone">8</td>
            <td><%= link_to "Advanced Liquid Logic", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td><%= link_to "Conference Call", "" %>
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
            </td>
            <td class="hidden-phone">Devon Walters</td>
          </tr>
          <tr>
            <td class="hidden-phone">9</td>
            <td><%= link_to "Advanced Liquid Logic", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td><%= link_to "Conference Call", "" %>
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
            </td>
            <td class="hidden-phone">Devon Walters</td>
          </tr>
          <tr>
            <td class="hidden-phone">10</td>
            <td><%= link_to "Advanced Liquid Logic", "http://localhost:3000/companyinfo" %></td>
            <td>7/3/13</td>
            <td><%= link_to "Conference Call", "" %>
              <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 40%"></div>
        </div>
            </td>
            <td class="hidden-phone">Devon Walters</td>
          </tr>
          <tr>
            <td class="hidden-phone"></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="hidden-phone"></td>
          </tr>
          
        </tbody>
      </table>
      <center>
        <div class="pagination pagination-large">
          <ul>
            <li><a href="#"><strong>Prev</strong></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><strong>Next</strong></a></li>
          </ul>
        </div>
      <center>
</div>
</div>
