

<div class="row" id="whiterow">
<div class="jumbotron">
  <h1><i class="icon-group"></i>&nbsp;Team View</h1>
  <p class="lead">See everything your team's responsible for.</p>
  <p class="dividerblue">_____________<p>
<br>
 <table class="table table-hover">
        <thead>
          <tr>
            <th>Representative</th>
            <th>Approved</th>
            <th>Pending</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Devon Walters</td>
            <td><%= link_to "9", "" %></td>
            <td><%= link_to "2", "" %></td>
          </tr>
          <tr>
            <td>Jessica Smith</td>
            <td><%= link_to "6", "" %></td>
            <td><%= link_to "5", "" %></td>
          </tr>
          <tr>
            <td>Avian Elliot</td>
            <td><%= link_to "3", "" %></td>
            <td><%= link_to "4", "" %></td>
          </tr>
          <tr>
            <td>Devon Walters</td>
            <td><%= link_to "9", "" %></td>
            <td><%= link_to "2", "" %></td>
          </tr>
          <tr>
            <td>Jessica Smith</td>
            <td><%= link_to "6", "" %></td>
            <td><%= link_to "5", "" %></td>
          </tr>
          <tr>
            <td>Avian Elliot</td>
            <td><%= link_to "3", "" %></td>
            <td><%= link_to "4", "" %></td>
          </tr>
        </tbody>
      </table>
  
</div>
</div>
